<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Pokédex</title>
  </head>
  <body>
    <header>
      <h1 id="title">Pokedéx</h1>
    </header>
    <main>
      <section id="body">
        <% pokedex.forEach((pokemon) =>{ %>

        <div class="card">
          <img src="<%= pokemon.image %>" alt="" />
          <h2><%= pokemon.name %></h2>
          <p class="description">Description<%= pokemon.description %></p>
          <p>Type: <%= pokemon.type %></p>
          <p>Category: <%= pokemon.category %></p>
          <p>Height: <%= pokemon.height %>m</p>
          <p>Weight: <%= pokemon.name %>kg</p>
          <p>Type: <%= pokemon.type %></p>
          <p>Abilitie: <%= pokemon.abilitie %></p>
          <p><%= pokemon.abilitie2 %></p>
        </div>

        <% }) %>
      </section>
    </main>

    <footer></footer>
  </body>
</html>
